<!-- <style>
	.layui-nav-item{
		width: 12%;
	}
</style> -->
{include file="Pub/layer" /}
<div class="layui-row" id="header">
	<ul class="layui-nav">
		<li class="layui-col-md2">&nbsp;</li>
		<li class="layui-nav-item layui-col-md1">
			<a href="{:url('Index/index')}">校园主页</a>
		</li>
		
		<li class="layui-nav-item layui-col-md1">
			<a href="">校园论坛</a>
		</li>

		<li class="layui-nav-item layui-col-md1">
			<a href="">宿舍争霸</a>
		</li>

		<li class="layui-nav-item layui-col-md1">
			<a href="">图书馆</a>
		</li>

		<li class="layui-nav-item layui-col-space30">
			<a href="javascript:;">二手交易</a>
			<dl class="layui-nav-child">
				<dd><a href="javascript:;">我是买家<span class="layui-badge-dot"></span></a></dd>
				<dd><a href="">我是老板<span class="layui-badge-dot"></span></a></dd>
			</dl>
		</li>
		
		<li class="layui-nav-item layui-col-md1">
			<a href="">清风自来</a>
		</li>

		<!-- <li class="layui-nav-item layui-col-md1">
			<a href="javascript:;">快递帮拿</a>
			<dl class="layui-nav-child">
				<dd><a href="javascript:;">发布任务</a></dd>
				<dd><a href="">接受任务</a></dd>
			</dl>
		</li> -->

		<li class="layui-nav-item layui-col-md1">
			<a href="{:url('Charge/index')}">充值业务</a>
		</li>

		<li class="layui-nav-item layui-col-md-offset1">
			<!-- 头像 -->
			<a href="javascript:;" title="{$Think.session.User.nick}">
				<img src="{$Think.session.User.icon}" class="layui-nav-img">{$Think.session.User.nick|checkLen}
			</a>
			<dl class="layui-nav-child">
				<dd id="header_modify"><a href="javascript:;">修改信息</a></dd>
				<dd id="header_secure"><a href="javascript:;">安全管理</a></dd>
				<dd><a href="{:url('Login/logout')}">退了</a></dd>
			</dl>
		</li>
	</ul>
</div>
<script>

	//个人信息
	$("#header_modify").click(function(){
		$.post("{:url('Pub/modify')}",function(res){
			layer.open({
	            tpye:1,
	            title:"个人信息",
	            content:res,	//内容地址
	            shadeClose:false,
	            anim:1,			//打开时从上边掉下来
	            maxmin:false,	//允许最大最小化
	            area:["800px","600px"],
	            closeBtn:2,
	            scrollbar:1,
	            btn:"",
	            end:function(){
	            	//刷新,应该使用局部刷新
	            	window.location.reload();
	            }
	        });
		})
	});

	//安全管理
	$("#header_secure").click(function(){
		$.post("{:url('Pub/secure')}",function(res){
			layer.open({
	            tpye:1,
	            title:"账号信息",
	            content:res,	//内容地址
	            shadeClose:false,
	            anim:1,			//打开时从上边掉下来
	            maxmin:false,	//允许最大最小化
	            area:["400px","600px"],
	            closeBtn:2,
	            scrollbar:1,
	            btn:""
	        });
		})
	});
</script>