<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻详情</title>
	{include file="Pub/header" /}
	{load href="/static/css/index.css" /}
</head>
<body>
	<!-- main部分 -->
	<div class="main-newsdate">
		<div class="layui-container">
			<p class="news">新闻详情 > <a href="{:url('Index/index')}">返回首页</a></p>
			<h1>{$data.title}</h1>
			<p class="pushtime">发布时间：<span>{$data.time}</span><span style="margin-left: 30px;">作者：{$data.author}</span><span style="margin-left: 30px;font-size: 14px;">阅读量：{$data.read}</span></p>	
			<p class="introBott">{$data.content}</p>
		</div> 
	</div>
</body>
</html>