<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>长春工程学院微校园</title>
    {include file="Pub/layer" /}
</head>
<body>
    <div>
        <form id="form">
            账号：<input type="text" name="act" id="act" maxlength="10" autocomplete="off"> <br>
            密码：<input type="password" name="pwd" id="pwd" autocomplete="off"> <br>
            验证码：<input type="text" name="verify" id="verify" autocomplete="off">
            <img src="{:captcha_src()}" id="img">
            <input type="button" id="login" value="登陆">
        </form>
    </div>
</body>
</html>
<script>

    //切换验证码
    $("#img").click(function(){
        $(this).attr("src","{:captcha_src()}?rand="+Math.random());
    })

    //ajax登陆
    $("#login").click(function(){
        act = $("#act").val();
        pwd = $("#pwd").val();
        verify = $("#verify").val();
        if(act == "") {
            layer.open({
                tpye:1,
                content:"请输入账号",
                icon:5,
                shade:[0],
                shadeClose:true,
            });
            return false;
        }

        if(pwd == "") {
            layer.open({
                tpye:1,
                content:"请输入密码",
                icon:5,
                shade:[0],
                shadeClose:true,
            });
            return false;
        }

        if(verify == "") {
            layer.open({
                tpye:1,
                content:"请输入验证码",
                icon:5,
                shade:[0],
                shadeClose:true,
            });
            return false;
        }

        $.post("check",{act:act,pwd:pwd,verify:verify},function(e){
            e = $.parseJSON(e);
            if(e.code == 1){
                window.location.href="/index.php/Index/index";
            } else {
                //console.log(e.msg);
                layer.open({
                    tpye:1,
                    content:e.msg,
                    icon:5,
                    shade:[0],
                    shadeClose:true,
                });
                $("#img").click();
                $("#verify").val('');
            }
        })
    })
</script>