<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>长春工程学院微校园</title>
    <script src="/static/js/jquery-1.8.2.min.js"></script>
</head>
<body>
    <div>
        <form action="Login/check" method="post">
            账号：<input type="text" name="act"> <br>
            密码：<input type="password" name="pwd"> <br>
            验证码：<input type="text" name="verify"><img src="{:captcha_src()}" id="img">
            <input type="submit" value="登陆">
        </form>
    </div>
</body>
</html>
<script>
    //切换验证码
    $("#img").click(function(){
        $(this).attr("src","{:captcha_src()}");
    })
</script>