<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册账号</title>
	{include file="Pub/layer" /}
</head>
<body>
	<form action="checkReg" method="post" enctype="multipart/form-data" id="form">
		学号：<input type="text" maxlength="10" name="act" id="act" autocomplete="off" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" required>
		<i id="warn"></i><br>
		姓名：<input type="text" name="name" autocomplete="off" required><br>
		密码：<input type="password" name="pwd1" autocomplete="off" required id="pwd1"> <br>
		again：<input type="password" name="pwd2" autocomplete="off" required id='pwd2'><br>
		昵称：<input type="text" name="nick"><br>
		性别：男<input type="radio" name="sex" value="1">
		女 <input type="radio" name="sex" value="2"><br>
		头像：<input type="file" name="icon" required id="icon"><br>
		所属学院：
		<select name="iid" id="ins">
			<option value="0">请选择</option>
			{volist name="insData" id="insVo"}
				<option value="{$insVo.id}">{$insVo.title}</option>
			{/volist}
		</select>
		<br>
		所在班级：
		<select name="cid" id="cls">
			<option value="0">请选择</option>
		</select>
		<br>
		<input type="button" value="提交" id="sub">
	</form>

	<script>
		var actCk = false;
		var pwdCk = false;
		var iconCk = false;
		//二级联动
		$("#ins").change(function(){
			//删除标签
			$(".curCls").remove();
			var iid = $(this).val();
			var url = "getClass";
			//ajax获取 二级联动
			$.post(url,{iid:iid},function(e){
				$.each(e,function(i,val){
					//新增数据,获取班级
					$("#cls").append("<option class=curCls value="+i+">"+val+"</option>");
				});
			})
		});

		//动态检测账号
		$("#act").blur(function(){
			url = "getAct";
			act = $(this).val();
			if(act == ''){
				act = 0;
			}
			$.get(url,{act:act},function(e){
				e = eval("("+e+")");
				if(e.code == 0) {
					actCk = false;
					$("#warn").text(e.msg);
				} else {
					actCk = true;
					$("#warn").text("√");
				}
			})
		});

		//密码检测
		$("#pwd1,#pwd2").blur(function(){
			pwd2 = $("#pwd2").val();
			pwd1 = $("#pwd1").val();
			if(pwd1 != pwd2){
				pwdCk = false;
			} else {
				pwdCk = true;
			}
		})

		//图片检测
		$("#icon").change(function(){
			allow = [".jpg",".jpeg",".png",".gif"];
			icon = $(this).val();
			iconCk = false;
			suc = false;
			type = (icon.substr(icon.lastIndexOf("."))).toLowerCase();
			$.each(allow,function(i,item){
				if (type == item) {
					iconCk = true;
					suc = true;
				}
			});
			if(!suc) {
				layer.open({
					tpye:1,
					content:"图片格式不正确",
					icon:5,
					shade:[0],
					shadeClose:true,
					time:1000
				})
				$(this).val('');
			}
		})

		//整体检测，错误排查
		$("#sub").click(function(e){
			if($("#act").val() == ''){
				layer.open({
					tpye:1,
					content:"请输入学号",
					icon:5,
					shade:[0],
					shadeClose:true,
					time:1000
				});
				$("#act").focus();
			}else if(!actCk) {
				layer.open({
					tpye:1,
					content:"请输入正确的学号",
					icon:5,
					shade:[0],
					shadeClose:true,
					time:1000
				});
				$("#act").focus();
			}else if(pwd1 == '' || pwd2 == '') {
				layer.open({
					tpye:1,
					content:"请输入密码",
					icon:5,
					shade:[0],
					shadeClose:true,
					time:1000
				})
				$("#pwd").focus();
			}else if(!pwdCk) {
				layer.open({
					tpye:1,
					content:"请确认两次密码是否一致",
					icon:5,
					shade:[0],
					shadeClose:true,
					time:1000
				});
				$("#pwd").focus();
			}else if(!iconCk) {
				layer.open({
					tpye:1,
					content:"请选择头像",
					icon:5,
					shade:[0],
					shadeClose:true,
					time:1000
				})
			}else if(actCk&&pwdCk&&iconCk) {
				$("#form").submit();
			}
		});
	</script>
</body>
</html>