{volist name='article' id='vo'}
	<div class="item">
		<div class="item-box  layer-photos-demo1 layer-photos-demo">
			<h3><a href="details.html">{$vo.title}</a></h3>
			<h5>作者：<span>{$vo.uid|getUserById}</span><span style="padding-left: 30px;"></span>发布于：<span>{$vo.commitTime}</span></h5>
			<p>{$vo.comment|checkLen=300} <a href="javascript:;">[详情]</a></p>
			{if $vo.pic1 != ''}
			<img src="{$vo.pic1}" width="200"> 
			{/if}
			{if $vo.pic2 != ''}
			<img src="{$vo.pic2}" width="200"> 
			{/if}
			{if $vo.pic3 != ''}
			<img src="{$vo.pic3}" width="200"> 
			{/if}

		</div>
		<div class="comment count">
			<a href="details.html#comment">评论({$vo.cNum})</a>
			<a href="javascript:;" z="{$vo.id|checkZ=$uid}" aid="{$vo.id}" class="like"><span>点赞</span>(<i>{$vo.pNum}</i>)</a>
		</div>
	</div>
{/volist}

<script>
	//初始化程序，同时用于ajax回调
		function init(){
			$.each($(".like"),function(index,value){
				if($(this).attr("z") == 'on') {
					$(this).css("color","#FF8C00");
					$(this).children("span").text("已赞");
				}	
			});
		}
		//启动
		init();
</script>